.HXI_menuIcon {
    display: inline-block;
    cursor: pointer;
  }
  
  .HXI_menuIcon_bar1, .HXI_menuIcon_bar2, .HXI_menuIcon_bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .HXI_menuIcon_change .HXI_menuIcon_bar1 {
    transform: translate(0, 1px) rotate(-45deg);
  }
  
  .HXI_menuIcon_change .HXI_menuIcon_bar2 {opacity: 0;}
  
  .HXI_menuIcon_change .HXI_menuIcon_bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

.HXI_Equipsets_setManagement {
  width: 150px;
  font-size:14px;
  line-height:14px;
  border-collapse: collapse;
  background: #eaf5ff7d;
  padding: 8px 8px 8px 8px;
  border-radius: 10px;
  border: 1px solid #000000;
  transition: width 0.5s;
}
.HXI_Equipsets_setManagement h2{
  margin-top: 0em;
}

.HXI_Equipsets_setManagement h3{
  display: inline-block;
  margin: 0em;
  padding: 0px;
  font-size: 1.3em;
}

.HXI_Equipsets_setManagement ul{
  list-style: none;
}

.HXI_Equipsets_setManagement_setsList {
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%;
}

.HXI_Equipsets_setManagement_setsList li:hover{
  background-color:#00c4ff45;
}

.HXI_Equipsets_setManagement_expanded {
  width: 225px;
}

.HXI_Equipsets_setManagement_setsListTable {
  width: 220px !important;
  overflow-x: hidden;
}


.HXI_Equipsets_setManagement_setsListTable td {
  padding-left: 20px;
  cursor: pointer;
}

.HXI_Equipsets_setManagement_setsListTable th {
  text-align: left;
}
/* .HXI_Equipsets_setManagement_setsListTable tr:hover {background-color: #cdf7f7;} */
/* .HXI_Equipsets_setManagement_setsListTable th {
  border-bottom: 1px solid #000000;
} */

